<div class="mt-4">
  <h3>My courses</h3>
  <a href="/me/trash/courses">Recycle Bin ({{deletedCount}})</a>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Description</th>
        <th scope="col">Created Time</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a class="btn btn-link" href="/courses/{{this._id}}/edit">Edit</a>
          </td>
          <td>
            <a
              class="btn btn-link"
              href=""
              data-toggle="modal"
              data-target="#delete-course-modal" data-id="{{this._id}}"
            >Delete</a>
          </td>
        </tr>

      {{else}}
        <tr>
          <td colspan="5" class="text-center">
            You don't create anythings 
            <a href="/courses/create">Create Course</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! dialog }}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">WARNING !</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">DELETE</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

{{!-- Form delete --}}
<form name="delete-course-form" method="post" action=""></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var btnDeleteCourse = document.querySelector('#btn-delete-course');
    var deleteCourseForm = document.forms['delete-course-form'];
    var courseId;

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      courseId = button.data('id') // Extract info from data-* attributes
      console.log(courseId);
    });

    btnDeleteCourse.onclick = function () {
      deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteCourseForm.submit();
    }
  });
</script>